.home {
  height: 100%;
  grid-area: examples;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 1rem;
  box-sizing: border-box;
  padding: 6px 16px;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: rgba(19, 53, 107, 0.959);
  color: white;
}
