.main-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'header examples';
}

.header {
  grid-area: header;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title {
  margin-top: 6rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.examples {
  grid-area: examples;
}
